.filmsPosters {
  display: flex;
  margin-top: 40px;
  align-items: flex-end;
}

.filmsPoster {
  width: 100%;
  text-align: center;
  font-size: 12px;

  &Title {
    color: rgb(225, 225, 201);
  }

  &Year {
    color: rgb(225, 225, 201);
    font-weight: bold;
    margin: 10px 0;
  }

  &Score {
    color: rgb(220, 220, 21);
    font-weight: bold;
    margin: 10px 0;
    font-size: 14px;
  }

  &Container {
    max-width: 60px;
    margin: auto;
  }
}